services:
  dozzle:
    image: amir20/dozzle:v8.12.4
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - DOZZLE_ENABLE_ACTIONS=true
      - DOZZLE_NO_ANALYTICS=true
    ports:
      - "{{docker_stacks.dozzle.port}}:8080"
    restart: unless-stopped
