services:
  renovate:
    image: renovate/renovate:41.113.2
    container_name: renovate
    restart: no
    environment:
      - RENOVATE_TOKEN={{docker_stacks.renovate.gh_token}}
    volumes:
      - ./config.js:/usr/src/app/config.js:ro
