services:
  app:
    image: ghcr.io/hargata/lubelogger:v1.4.2
    restart: unless-stopped
    volumes:
      - "{{ service_config_path }}/config:/App/config"
      - "{{ service_config_path }}/data:/App/data"
      - "{{ service_config_path }}/log:/App/log"
      - "{{ service_config_path }}/documents:/App/wwwroot/documents"
      - "{{ service_config_path }}/images:/App/wwwroot/images"
    ports:
      - "{{ docker_stacks.lubelogger.port }}:8080"
    env_file: .env
