services:
  healthchecks:
    image: lscr.io/linuxserver/healthchecks:v3.6-ls255
    container_name: healthchecks
    env_file: .env
    ports:
      - "{{ docker_stacks.healthchecks.port }}:8000"
    restart: unless-stopped
    volumes:
      - "{{ service_config_path }}/config:/config"
