---
- name: Setup LXC for immich
  hosts: immich
  gather_facts: yes
  vars_files:
    - "../vars/vault.yml"
  vars:
    user: "immich"

  tasks:
    - name: Create database directory
      file:
        path: "/home/{{ user }}/database"
        state: directory
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: '0755'

  roles:
    - role: geerlingguy.docker
      docker_users:
        - "{{ user }}"
      become: true
      tags:
        - never
        - install_docker

    - role: docker-services-v2
      services_dir: docker_services
      docker_user: "{{ user }}"
      target_dir: "/home/{{ user }}"
      config_dir: "/home/{{ user }}/.docker_config"
      tags:
        - always
