services:
  gluetun:
    container_name: gluetun
    image: qmcgaw/gluetun:v3.40
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv6.conf.default.disable_ipv6=1
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=custom
      - VPN_TYPE=wireguard
    volumes:
      - ./wg.conf:/gluetun/wireguard/wg0.conf
    ports:
      - 6881:6881
      - 6881:6881/udp
      - 8085:8085 # qbittorrent
      - 8989:8989 # Sonarr
      - 9696:9696 # Prowlarr
      - 6767:6767 # Bazarr
      - 7878:7878 # Radarr
    restart: unless-stopped


  qbittorrent:
    container_name: qbittorrent
    image: ghcr.io/hotio/qbittorrent:release-5.0.4
    network_mode: "service:gluetun"
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv6.conf.default.disable_ipv6=1
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/Amsterdam
      - WEBUI_PORTS=8085/tcp,8085/udp
    volumes:
      - "{{ service_config_path }}/qbittorrent:/config"
      - "/mnt/hdd_media/arr-data/torrents:/data/torrents"
    depends_on:
      gluetun:
        condition: service_healthy
    restart: unless-stopped


  prowlarr:
    container_name: prowlarr
    image: ghcr.io/hotio/prowlarr:release-1.32.2.4987
    network_mode: "service:gluetun"
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv6.conf.default.disable_ipv6=1
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/Amsterdam
    volumes:
      - "{{ service_config_path }}/prowlarr:/config"
      - /mnt/hdd_media/arr-data:/data
    restart: unless-stopped


  sonarr:
    container_name: sonarr
    image: ghcr.io/hotio/sonarr:release-4.0.13.2932
    network_mode: "service:gluetun"
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv6.conf.default.disable_ipv6=1
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/Amsterdam
    volumes:
      - "{{ service_config_path }}/sonarr:/config"
      - /mnt/hdd_media/arr-data:/data
    restart: unless-stopped

  radarr:
    container_name: radarr
    image: ghcr.io/hotio/radarr:release-5.14.0.9383
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Etc/UTC
    volumes:
      - "{{ service_config_path }}/radarr:/config"
      - /mnt/hdd_media/arr-data:/data
    restart: unless-stopped

  bazarr:
    container_name: bazarr
    image: ghcr.io/hotio/bazarr:release-1.5.1
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/Amsterdam
      - WEBUI_PORTS=6767/tcp,6767/udp
    volumes:
      - "{{ service_config_path }}/bazarr:/config"
      - /mnt/hdd_media/arr-data:/data
    restart: unless-stopped

  jellyseerr:
    container_name: jellyseerr
    image: ghcr.io/hotio/jellyseerr:release-2.5.0
    ports:
      - 5055:5055 # Jellyseer
    environment:
      - PUID=1000
      - PGID=1000
      - UMASK=002
      - TZ=Europe/Amsterdam
    volumes:
      - "{{ service_config_path }}/jellyseerr:/config"
    restart: unless-stopped
