[Interface]
PrivateKey = {{ docker_stacks.arr.wg_privatekey }}
Address = {{ docker_stacks.arr.wg_address }}
DNS = {{ docker_stacks.arr.wg_dns }}

[Peer]
PublicKey = {{ docker_stacks.arr.wg_publickey }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ docker_stacks.arr.wg_endpoint }}
