---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Admin stuff:
  - Proxmox:
      href: https://192.168.2.201:8006/
      siteMonitor: https://192.168.2.201:8006/
      icon: proxmox.png
  - Healthchecks:
      href: https://healthchecks.{{docker_stacks.caddy.dockerbox_hostname}}
      siteMonitor: http://{{ansible_host}}:{{docker_stacks.healthchecks.port}}
      icon: healthchecks.png
  - Dozzle:
      href: https://dozzle.{{docker_stacks.caddy.dockerbox_hostname}}
      siteMonitor: http://{{ansible_host}}:{{docker_stacks.dozzle.port}}
      icon: dozzle.png
  - Openmediavault:
      href: https://{{omv.hostname}}
      siteMonitor: https://{{omv.hostname}}
      icon: openmediavault.png
  - Adguard:
      href: http://192.168.2.46
      siteMonitor: http://192.168.2.46
      icon: adguard-home.png

- Apps:
  - Nextcloud:
      href: https://{{docker_stacks.caddy.nc.hostname}}
      siteMonitor: https://{{docker_stacks.caddy.nc.hostname}}
      icon: nextcloud.png

  - Lubelog:
      href: https://lubelogger.{{docker_stacks.caddy.dockerbox_hostname}}
      siteMonitor: http://{{ansible_host}}:{{docker_stacks.grocy.port}}
      icon: lubelogger.png

  - Firefly:
      href: https://firefly.{{docker_stacks.caddy.dockerbox_hostname}}
      siteMonitor: http://{{ansible_host}}:{{docker_stacks.firefly.port}}
      icon: firefly.png

  - Memos:
      href: https://memos.{{docker_stacks.caddy.dockerbox_hostname}}
      siteMonitor: http://{{ansible_host}}:{{docker_stacks.memos.port}}
      icon: memos.png

  - Grocy:
      href: https://grocy.{{docker_stacks.caddy.dockerbox_hostname}}
      siteMonitor: http://{{ansible_host}}:{{docker_stacks.grocy.port}}
      icon: grocy.png

  - Vikunja:
      href: https://vikunja.{{docker_stacks.caddy.dockerbox_hostname}}
      siteMonitor: http://{{ansible_host}}:{{docker_stacks.vikunja.port}}
      icon: vikunja.png


- Media:
  - MeTube:
      href: https://metube.{{docker_stacks.caddy.dockerbox_hostname}}
      siteMonitor: http://{{ansible_host}}:{{docker_stacks.metube.port}}
      icon: metube.png

  - Jellyfin:
      href: https://jellyfin.rutgerdj.local
      siteMonitor: https://jellyfin.rutgerdj.local
      icon: jellyfin.png

- Arr*:
  - Sonarr:
      href: http://{{ansible_host}}:8989/
      siteMonitor: http://{{ansible_host}}:8989/
      icon: sonarr.png

  - Radarr:
      href: http://{{ansible_host}}:7878/
      siteMonitor: http://{{ansible_host}}:7878/
      icon: Radarr.png

  - Prowlarr:
      href: http://{{ansible_host}}:9696/
      siteMonitor: http://{{ansible_host}}:9696/
      icon: prowlarr.png

  - qBittorrent:
      href: http://{{ansible_host}}:8085/
      siteMonitor: http://{{ansible_host}}:8085/
      icon: qbittorrent.png

  - Bazarr:
      href: http://{{ansible_host}}:6767/
      siteMonitor: http://{{ansible_host}}:6767/
      icon: bazarr.png

  - Jellyseer:
      href: http://{{ansible_host}}:5055/
      siteMonitor: http://{{ansible_host}}:5055/
      icon: jellyseerr.png
