services:
  memos:
    image: neosmemo/memos:0.25.1
    container_name: memos
    restart: unless-stopped
    volumes:
      - "{{ service_config_path }}/:/var/opt/memos"
    ports:
      - "{{docker_stacks.memos.port}}:5230"